main.container {
  display: grid;

  position: relative;

  row-gap: var(--gap-md);
  column-gap: var(--gap-lg);

  margin-bottom: var(--my-xl);

  grid-template-areas: "a c c c"
                       "b c c c"
                       "b c c c"
                       "b d d d";
}

.card {
  background: var(--card-color);

  border-radius: 16px;

  padding-inline: var(--px-md);
  padding-block: var(--py-md);
}

.user-info {
  grid-area: a;

  display: flex;

  gap: var(--px-md);

  & .image-container {
    --border-radius: 10px;
    --image-width: 3.5rem;
    --image-height: 3.5rem;
    --stroke-width: 2px;

    margin: var(--stroke-width);

    position: relative;

    &::before {
      content: '';

      position: absolute;

      width: calc(var(--image-width) + var(--stroke-width) * 2);
      height: calc(var(--image-height) + var(--stroke-width) * 2);

      top: calc(var(--stroke-width) * -1);
      left: calc(var(--stroke-width) * -1);

      border-radius: var(--border-radius);

      background-image: var(--gradient-primary);
    }

    & img {
      width: var(--image-width);
      height: var(--image-height);

      position: relative;

      border-radius: calc(var(--border-radius) - var(--stroke-width));

      object-fit: cover;

      border: var(--stroke-width) solid var(--card-color);

      z-index: 1;
    }
  }

  & div {
    margin-block: auto;
  }

  & h1 {
    font: var(--heading-font-lg);
    color: var(--text-color-primary);
  }

  & p {
    font: var(--body-font-xs);
    color: var(--text-color-secondary);
    margin-top: 0.25rem;
  }
}

.card-info {
  grid-area: c;

  padding-inline: var(--px-xl);
  padding-block: var(--py-2xl);

  & header {
    display: flex;
    justify-content: space-between;

    gap: var(--gap-md);

    & h2 {
      font: var(--heading-font-xs);
      color: var(--text-color-secondary);

      text-transform: uppercase;
    }

    & p {
      font: var(--body-font-sm);
      color: var(--text-color-secondary);

      margin-top: 0.25rem;
    }

    & .tag {
      display: inline;

      height: fit-content;

      border-radius: 999px;

      text-wrap: nowrap;

      background-color: var(--stroke-color-primary);

      font: var(--heading-font-sm);
      color: var(--text-color-secondary);

      padding-inline: 0.75rem;
      padding-block: 0.375rem;
    }
  }

  & ul {
    --img-size: 45%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: var(--gap-md);

    margin-top: var(--my-lg);

    & li {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--bg-color);

      aspect-ratio: 1/1;

      border-radius: 20px;

      list-style-type: none;

      & img {
        width: var(--img-size);
        height: var(--img-size);
      }
    }
  }
}

.history {
  grid-area: b;

  position: absolute;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  & header {
    display: flex;
    justify-content: space-between;

    & h2 {
      font: var(--heading-font-xs);
      color: var(--text-color-secondary);

      text-transform: uppercase;
    }

    & p {
      font: var(--body-font-xs);
      color: var(--text-color-secondary);
    }
  }

  & ul {
    display: flex;
    flex-direction: column;

    gap: var(--gap-md);

    margin-top: var(--my-md);

    border-top: 1px solid var(--bg-color);

    padding-top: var(--py-md);

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;

      list-style-type: none;

      & div {
        & h3 {
          font: var(--heading-font-xs);
          color: var(--text-color-primary);
        }

        & p {
          font: var(--body-font-xs);
          color: var(--text-color-secondary);
        }
      }

      & img {
        background-color: var(--check-bg);

        padding: 0.25rem;
        border-radius: 50%;
      }
    }
  }
}

.next-reward {
  grid-area: d;

  padding-block: var(--py-xl);
  padding-inline: var(--px-xl);

  display: flex;

  gap: var(--gap-xl);

  & div {
    width: 100%;

    & h3 {
      font: var(--heading-font-xl);
      color: var(--text-color-primary);

      & span {
        font: var(--body-font-md);
        color: var(--text-color-secondary);
      }
    }

    & div {
      display: flex;

      gap: 0.75rem;

      justify-content: space-between;
      align-items: center;

      margin-top: 0.75rem;

      & hr {
        --reward-percentage: 100%;
        --hr-height: 0.5rem;

        all: unset;

        display: inline-block;

        width: 100%;
        height: var(--hr-height);

        border-radius: 999px;

        background-color: var(--stroke-color-primary);

        &::after {
          content: '';

          top: 0;
          left: 0;

          display: block;

          height: var(--hr-height);
          width: var(--reward-percentage);

          border-radius: 999px;

          background-image: var(--gradient-primary);
        }
      }

      & span {
        text-wrap: nowrap;

        font: var(--body-font-xs);
        color: var(--text-color-secondary);
      }
    }
  }

  & img {
    width: 4.5rem;
    aspect-ratio: 1/1;

    background-color: var(--bg-color);

    border-radius: 50%;

    padding: 1rem;
  }
}

@media(max-width: 900px) {
  :root {
    --px-xl: 1.25rem;
    --py-2xl: 1.5rem;
  }

  main.container {
    display: flex;
    flex-direction: column;
  }

  .history {
    position: initial;
  }

  .card-info {
    padding-inline: var(--px-xl);
    padding-block: var(--py-2xl);

    & header {
      & p {
        font: var(--body-font-xs);
      }

      & .tag {
        font: var(--heading-font-xs);
      }
    }

    & ul {
      --img-size: 50%;

      & li {
        border-radius: 20%;
      }
    }
  }

  .next-reward {
    & div {
      width: 100%;

      & h3 {
        font: var( --heading-font-lg);

        & span {
          font: var(--body-font-sm);
        }
      }
    }
  }
}
